/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}


/*--------------------*/

body {
	font-family: 'Inter', sans-serif;
	background-color: #E5E5E5;
}

header {
	padding-top: 1em;
	width: 70%;
	margin: 0 auto;
	padding-bottom: 15px;
}

.nav_menu ul {
	font-size: 24px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.nav_menu ul li a:visited {
	color: black;
}

.nav_menu ul li a:hover {
	background: linear-gradient(45deg, #20ecc3 33%, #f10fd5 66%, #8AA9D6);
	 -webkit-background-clip: text;
	 -webkit-text-fill-color: transparent;
	}

main {
	padding-top: 1em;
	width: 70%;
	margin: 0 auto;
}

.name {}

.name__row {}

.name__photo {}

.name__title {
	font-weight: 700;
	font-size: 40px;
	line-height: 94.97%;
	padding-bottom: 10px;
}

.name__subtitle {
	font-size: 28px;
	line-height: 103.97%;
	padding-bottom: 36px;
}

.name__text {
	width: 684px;
	font-size: 18px;
	line-height: 30px;
}